# Compiled Object files
*.slo
*.lo
*.o
*.ko

# Compiled Dynamic libraries
*.dll
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Eclipse metadata
*.metadata
